template(name="seoFooter")
  .seoFooter.s-grid-column.paddingV.text-center(class="{{ class }}")
    +UI.contentBlock
    .s-grid-row.container
      .s-grid-cell-sm-12.text-center
        +copyright
        +bottomNav
