template(name="seoFooter")
  .seoFooter.s-grid-column.paddingV.text-center(class="{{ class }}")
    .s-grid-row.container.s-grid-spacing
      .s-grid-cell-md-4.s-grid-cell-sm-12
        +contactNoForm
      .s-grid-cell-md-4.s-grid-cell-sm-12
        +securedSSL
      .s-grid-cell-md-4.s-grid-cell-sm-12
        +socialMedia
    .s-grid-row.container
      .s-grid-cell-sm-12.text-center
        +copyright
        +bottomNav
