*
  margin 0
  padding 0
  box-sizing border-box

// Text Aligns
.text-center
  text-align center
.text-left
  text-align left
.text-right
  text-align right
.text-justify
  text-align justify

.paddingV
  padding 50px 0
.container
  margin auto
  max-width 960px

.mh400
  min-height 400px
