.bottomNav
	margin-top 20px
	display flex
	a
		margin 0 20px
		text-decoration underline
		line-height 1.3em
	span
		float left
		color white
		width 2px
		height 1.3em
		display block
		background-color grey
