template(name="bottomNav")
  .bottomNav
    a(href="{{ /help }}") Help Center
    span
    a(href="{{ /contact }}") Contact Us
    span
    a(href="{{ /privacy }}") Privacy
    span
    a(href="{{ /terms }}") Terms
    span
    a(href="{{ /careers }}") Careers
