template(name="callToAction")
  .callToAction.s-grid-stretch.s-grid-column
    .s-grid-cell-sm-12
      h3 {{ showTitle }}
    .s-grid-cell-sm-12
      p {{ showSummary }}
    .s-grid-cell-sm-12
      +stripePopup(label="Checkout")
