template(name="teamBoard")
  .teamBoard.s-grid-column.paddingV(class="{{ class }}")
    .container.s-grid-justify-center.s-grid-stretch
      .s-grid-cell-sm-12
        h1.text-center Our Crew
      .s-grid-cell-sm-12.s-grid-cell-md-4
        +teamPortrait image="http://lorempixel.com/300/300/business/1" name="Lawrence Whiteside" position="Director"
      .s-grid-cell-sm-12.s-grid-cell-md-4
        +teamPortrait image="http://lorempixel.com/300/300/business/2" name="Anotnio Bonilla" position="Asst. Director"
      .s-grid-cell-sm-12.s-grid-cell-md-4
        +teamPortrait image="http://lorempixel.com/300/300/business/3" name="Jon Bebe" position="Director" position="Producer"
      .s-grid-cell-sm-12.s-grid-cell-md-4
        +teamPortrait image="http://lorempixel.com/300/300/business/4" name="Lawrence Whiteside" position="Director"
      .s-grid-cell-sm-12.s-grid-cell-md-4
        +teamPortrait image="http://lorempixel.com/300/300/business/5" name="Anotnio Bonilla" position="Asst. Director"
      .s-grid-cell-sm-12.s-grid-cell-md-4
        +teamPortrait image="http://lorempixel.com/300/300/business/6" name="Jon Bebe" position="Director" position="Producer"
