template(name="teamBoard")
  .teamBoard.s-grid-column.paddingV(class="{{ class }}")
    .container.s-grid-justify-center.s-grid-stretch
      .s-grid-cell-sm-12
        h1.text-center.paddingV Roles Needed for Episode One
      .s-grid-cell-sm-12.s-grid-cell-md-4
        +teamPortrait image="http://lorempixel.com/300/300/business/1"
          h1.name Sarah
          h2.position Female, 20's-30's
      .s-grid-cell-sm-12.s-grid-cell-md-4
        +teamPortrait image="http://lorempixel.com/300/300/business/2"
          h1.name Duncan
          h2.position Male, 20's-30's
      .s-grid-cell-sm-12.s-grid-cell-md-4
        +teamPortrait image="http://lorempixel.com/300/300/business/3"
          h1.name Hazel
          h2.position Female, 20's-30's
      .s-grid-cell-sm-12.s-grid-cell-md-4
        +teamPortrait image="http://lorempixel.com/300/300/business/3"
          h1.name April
          h2.position Female, 20's
      .s-grid-cell-sm-12.s-grid-cell-md-4
        +teamPortrait image="http://lorempixel.com/300/300/business/3"
          h1.name Billy
          h2.position Male, 20's-30's
      .s-grid-cell-sm-12.s-grid-cell-md-4
        +teamPortrait image="http://lorempixel.com/300/300/business/3"
          h1.name Roxy
          h2.position Male, 20's-30's
      .s-grid-cell-sm-12.s-grid-cell-md-4
        +teamPortrait image="http://lorempixel.com/300/300/business/3"
          h1.name Clark
          h2.position Male, 40's
      .s-grid-cell-sm-12.s-grid-cell-md-4
        +teamPortrait image="http://lorempixel.com/300/300/business/3"
          h1.name Kim
          h2.position Female, 20's
