template(name="contactNoForm")
  .contactNoForm.s-grid-stretch.text-center
    .s-grid-cell-sm-12
      h1 Need Help?
    .s-grid-cell-sm-12
      p We're here to answer any questions you have about our classes or company.
    .s-grid-cell-sm-4
      +icon(face="phone")
    .s-grid-cell-sm-4
      +icon(face="envelope")
    .s-grid-cell-sm-4
      +icon(face="commenting-o")
