template(name="teamPortrait")
  .teamPortrait.text-center(class="{{ class }}")
    img(src="{{ image }}")
    .name {{ name }}
    .position {{ position }}
    a.linkedin(href="http://linkedin.com/{{ linkedin }}")
