@import 'rupture'

.billBoard
  position relative
  width 100%
  overflow hidden
  color white
  .info
    padding 30px
    width 40%
    background-color rgba(0,0,0,0.5)
  h1
    font-weight 100
    font-size 5em
    margin auto
  h3
    font-weight 100
    font-size 2em
    margin auto
  .bgImage
    position absolute
    top 0
    z-index 0
    min-height 100vh
    max-width 1400px
  +tablet()
    .bgImage
      width 100%
  .content
    z-index 1
.topBill
  .info
    position absolute
    bottom 100px
    left 20px
  +tablet()
    .info
      width auto
      right 20px
      text-align center
.fullScreen
  height: 100vh;
