.securedSSL
	display flex
	margin auto
	align-items center
	.securedBadge
		text-transform uppercase
		display flex
		width 190px
		height 50px
		align-self center
		i
			font-size 40px
			line-height 50px
		&> div
		 	margin 2px
		span
			display block
			text-align left
		.lock
			float left
			width 50px
			height 50px
		.words
			float left
			margin-left 2px
			width 140px
			height 50px
			padding-left 10px
			line-height 25px
			text-align left
		.securedBy
			font-weight 100
		.expedited
			font-weight bold
